ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(31, 136, 168);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #000000;
  }
  
  img {
    border-radius: 15px;
  }
  
  img src {
    width:650px;
    border:1px solid black;
    }
  
  h1 {
    color: #40A497;
  }
  
  h2 {
    color: brown;
  }
  
  em {
    color: #333;
  }
  
  img {
  border: 1px solid black;
  }

  nav {
    color: #40A497;
  }